body {
    
    height: 100vh;
    background-color: rgb(39, 190, 39);
}
input, button {  
    padding: 10px;
    width: auto;
    border-radius: 5px;
}
button {
    cursor: pointer; 
}
#caixa-button-logout {
    text-align: end;
}
#sucess {
    text-align: center;
    color: white;
}
#logout-button {
    margin: 5px;
}
ol {
    list-style: none;
    padding: 0px;
}
p {
    margin: 4px 0;
}
ol li {
    cursor: pointer;
    background: white;
    padding: 8px 16px;
    border-bottom: 1px solid #7a7878;
}
ol li:hover {
    opacity: 0.8;
}
.gastos {
    border-left: 10px solid red;
}
.recebidos {
    border-left: 10px solid rgb(0, 255, 68);
}
.botao-remover-home {
    width: auto;
    float: inline-end;
    padding: 5px;
    
}
#resultado {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
    
}
#resultado-receita {
    width: 45%;
    height: 200px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    justify-items: center;
    

}
#resultado-despesa {
    width: 45%;
    height: 200px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    justify-items: center;
}
.titulo-resultado {
    font-size: 13px;
}
.valor-resultado {
    font-size: 30px;
    margin: 64px 0px;

}