<<<<<<< HEAD
body {
    color: white;
    height: 90vh;
    background-color: rgb(42 93 90);
}
main {
    height: 80vh;
}
form {
    width: 300px;
}
input, button, select {  
    padding: 10px;  
    border-radius: 5px;
    border: none;
}
.larguratoda {
    width: -webkit-fill-available;
}
button {
    cursor: pointer; 
}
#caixa-button-logout {
    text-align: end;
}
#sucess {
    text-align: center;
    color: white;
}
#logout-button-2 {
    margin: 5px;
}
.gastos {
    border-left: 10px solid red;
}
.recebidos {
    border-left: 10px solid rgb(0, 255, 68);
}
=======
body {
    color: white;
    height: 90vh;
    background-color: rgb(42 93 90);
}
main {
    height: 80vh;
}
form {
    width: 300px;
}
input, button, select {  
    padding: 10px;  
    border-radius: 5px;
    border: none;
}
.larguratoda {
    width: -webkit-fill-available;
}
button {
    cursor: pointer; 
}
#caixa-button-logout {
    text-align: end;
}
#sucess {
    text-align: center;
    color: white;
}
#logout-button-2 {
    margin: 5px;
}
.gastos {
    border-left: 10px solid red;
}
.recebidos {
    border-left: 10px solid rgb(0, 255, 68);
}
>>>>>>> 5705f5084c6d10ffe4789fcb08da13ba4700951d
